$partial("templates/header.html")$
<h2>PhD</h2>
<p>My PhD was titled <a href="https://docs.google.com/file/d/0B18FG6I8GhB0b2hmT1lTc1hoeWM/">"Defining Star-Free Regular Languages using Diagrammatic Logic"</a> and focuses on the relationship between diagrammatic logic and formal language theory.</p>
<p>My <a href="https://scholar.google.co.uk/citations?user=QRmjxIwAAAAJ&hl=en">Google Scholar profile</a> provides Google's metrics regarding my publications.</p>
<h2>Editorial</h2>
$books$
<h2>Journals</h2>
$journalarticles$
<h2>Conferences</h2>
$conferencepapers$

$partial("templates/footer.html")$
