<h2>PhD</h2>
My PhD was titled <a href="https://docs.google.com/file/d/0B18FG6I8GhB0b2hmT1lTc1hoeWM/">"Defining Star-Free Regular Languages using Diagrammatic Logic"</a> and focuses on the relationship between diagrammatic logic and formal language theory.
<h2>Editorial</h2>
<ul>
    $for(books)$
        <li>$body$
        </li>
    $endfor$
</ul>
<h2>Journals</h2>
<ul>
    $for(journals)$
        <li>$body$
        </li>
    $endfor$
</ul>
<h2>Conferences</h2>
<ul>
    $for(confs)$
        <li>$body$
        </li>
    $endfor$
</ul>
